{{!< default }}



{{! Blog navbar }}
<nav class="navbar fixed shaded">
  <div class="navbar--row container">
    <!-- Icon -->
    <!-- <div class="navbar--icon"></div> -->
    <!-- Title -->
    <a class="navbar--title" href="{{@blog.url}}">{{@blog.title}}</a>
    <!-- Spacer -->
    <div class="navbar--spacer"></div>
    <!-- Links -->
    <nav class="navbar--nav">
    <!-- Nico : Ajout de lien-->
      <a class="navbar--nav-link ripple" href="{{@blog.url}}/notre-mission/">
        <i class="mdi mdi-information"></i>
        <span class="hide-on-medium">Mission</span>
      </a>
      <a class="navbar--nav-link ripple" href="{{@blog.url}}/statuts-et-reglements/">
        <i class="mdi mdi-briefcase"></i>
        <span class="hide-on-medium">Statuts</span>
      </a>
      <a class="navbar--nav-link ripple" href="https://www.facebook.com/Fondation-Samuel-de-Champlain-845284575614898">
        <i class="mdi mdi-facebook-box"></i>
        <span class="hide-on-medium"></span>
      </a>
      <a class="navbar--nav-link ripple" href="https://twitter.com/FondationSdeC">
        <i class="mdi mdi-twitter"></i>
        <span class="hide-on-medium"></span>
      </a>
    </nav>
  </div>
</nav>


{{! Blog header }}
<header class="header shaded bg-darken">
  <!-- Content -->
  <div class="header--content onMiddle container">
    {{!--Nico : retire car au milieu du logo--}}
    {{!--<h1 class="header--title center">{{@blog.title}}</h1>--}}
    {{!--<h5 class="header--subtitle center">{{@blog.description}}</h5>--}}
  </div>
  <!-- Background -->
  {{#if @blog.cover}}
    <img class="bg-image" src="{{@blog.cover}}" />
  {{/if}}
</header>


{{! Blog content }}
<main class="content" role="main">
  <div class="main--content container">

  {{! First loop to get the featured posts}}
  {{#foreach posts}}
    {{#if featured}}
       {{#if image}}
          <article class="card slide image" role="article">
          <!-- Header -->
          <header class="card--header bg-darken">
        {{else}}
          <article class="card slide" role="article">
          <!-- Header -->
          <header class="card--header">
       {{/if}}
          <!-- Title -->
          <h5 class="card--title" itemprop="headline">{{title}}</h5>
          <span class="card--subtitle">
            <i class="fa fa-calendar-o"></i>
            <time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">
              {{date format='DD MMM YYYY'}}
            </time>
          </span>
          <!-- Image -->
          {{#if image}}<img class="bg-image" src="{{image}}" />{{/if}}
        </header>
        <!-- Content -->
        <section class="card--main">
          <summary class="card--content" itemprop="articleBody">
            {{!--{{excerpt words="100"}}&hellip;--}}
            {{content words="100"}}&hellip;
          </summary>
        </section>
        <!-- Actions -->
        <footer class="card--actions right">
          <a class="button ripple" href="{{url}}">Lire plus</a>
        </footer>
      </article>
    {{/if}}
  {{/foreach}}

{{! Second loop to get the non-featured posts }}

  {{#foreach posts}}
    {{#unless featured}}
      {{#if image}}
        <article class="card slide image" role="article">
        <!-- Header -->
        <header class="card--header bg-darken">
      {{else}}
        <article class="card slide" role="article">
        <!-- Header -->
        <header class="card--header">
      {{/if}}
          <!-- Title -->
          <h5 class="card--title" itemprop="headline">{{title}}</h5>
          <span class="card--subtitle">
            <i class="fa fa-calendar-o"></i>
            <time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">
              {{date format='DD MMM YYYY'}}
            </time>
          </span>
          <!-- Image -->
          {{#if image}}<img class="bg-image" src="{{image}}" />{{/if}}
        </header>
        <!-- Content -->
        <section class="card--main">
          <summary class="card--content" itemprop="articleBody">
            {{!--{{excerpt words="100"}}&hellip;--}}
            {{content words="100"}}&hellip;
          </summary>
        </section>
        <!-- Actions -->
        <footer class="card--actions right">
          <a class="button ripple" href="{{url}}">Lire plus</a>
        </footer>
      </article>
    {{/unless}}
  {{/foreach}}
  </div>
</main>


{{! Blog pagination }}
{{#if pagination}}{{pagination}}{{/if}}
