{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<!-- Banner -->
<section id="banner" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h2>{{@blog.description}}</h2>
</section>

<!-- One -->
<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>Je peux ecrire ce que je veux ici</h2>
            <p>Comme par example parler de ce que nous faisons.</p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-clock-o"></i>
                <p>La fondation gere 2 fonds qui promote ceci et cela.</p>
            </section>
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-facebook-official"></i>
                <p>Facebook !</p>
            </section>
            <section class="4u$ 12u$(small)">
                <i class="icon big rounded fa-twitter"></i>
                <p>Twitter ! On aime le networking etc.</p>
            </section>
        </div>
    </div>
</section>

{{! The main content area on the homepage }}
<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <header>
            <h2>Dernieres Nouvelles</h2>
            <p>a partir d'ici s'affiche nos articles</p>
        </header>
        <div class="row">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}
        </div>
    </div>
</section>
