<section class="colophon">
    <section class="copyright">Tout droits reserve &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">All Rights Reserved</span>.</section>
    <section class="poweredby">Publication du site grace a <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
</section>