<nav class="links">
    <ul>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
        <li class="twitter"><a title="Twitter" href="http://twitter.com/gauloisNB"><i class="fa fa-fw fa-twitter-square"></i></a></li>
        <li class="gplus"><a title="Google+" href="http://plus.google.com/u/0/+GustavLindqvist"><i class="fa fa-fw fa-google-plus-square"></i></a></li>
        <li class="flickr"><a title="Flickr" href="http://flickr.com/photos/gustavlindqvist"><i class="fa fa-fw fa-flickr"></i></a></li>
        <li class="github"><a title="GitHub" href="http://github.com/reedyn"><i class="fa fa-fw fa-github-square"></i></a></li>
    </ul>
</nav>